*.o
*.a
.ccls-cache/
.ccls-root
.ccls
.gdb_history
compile_commands.json
/.gitattributes
.projectile

Release/
Debug/

/01/Project1/Project1/Debug/Project1.tlog
/01/Project1/.vs/Project1/v15
/01/Project1/Debug
/01/Project1/Project1/Debug
/01/Project1/Project1
/01/Project1/Project1.sln
/.vs/LF/v15
/.vs
/02/FLTK_1.3.4-2/FL
/02/FLTK_1.3.4-2
/02/FLTK_base/x64
/FLTK_1.3.4-2
/02/FLTK_base
/02/.vs/FLTK_PPP2/v15
/02/FLTK_PPP2.sln
/02/x64/Debug
/02/x64/Release
/O2/.vs/FLTK_PPP2/v15
/O1/O1/Debug
/O1/Debug
/O1/O1
/O1/.vs/O1/v15
*.db
*.suo
/01_old/main.cpp
/O2/FLTK_1.3.4-2
/O2/FLTK_base
/O2/x64/Debug
/O2/x64/Release
/O2/FLTK_PPP2.sln

*.sln
/O3/.vs/FLTK_PPP2/v15/ipch/AutoPCH/3901d3e0be1ff394
/O3/FLTK_1.3.4-2
/O3/FLTK_base/PPP
/O3/FLTK_base/x64/Debug/FLTK_basic.tlog
*.obj
*.tlog
/O3/x64
/O4/O4/Debug
*.log
*.vcxproj
*.filters
*.user
*.ipch
*.idb
*.pdb
*.exe
*.ilk
*.opendb
*.lib
/O6/FLTK_1.3.4-2/FL
/O6/x64/Release
/O6/x64/Debug
/O6/FLTK_base/PPP
/O7/FLTK_1.3.4-2/FL
/O7/FLTK_base/PPP
/O7/x64/Release
/O7/x64/Debug
/O4/FLTK_1.3.4-2/FL
/O4/FLTK_base/PPP
/O4/x64/Release
/O4/x64/Debug
/O4 - Copy/FLTK_1.3.4-2/FL
/O4 - Copy
/FLTK_LF-mal
/O4/FLTK_base
/O5-gui/FLTK_1.3.4-2/FL
/O5-gui/FLTK_base/PPP
/O5-gui/x64/Release
/O5-gui/FLTK_base
/O5-gui/x64/Debug
TDT4102_Linux/
TDT4102_Linux.zip
O5_w_gui
msw/
*.org
O12/.vscode/c_cpp_properties.json
O12/.vscode/extensions.json
O12/.vscode/launch.json
O12/.vscode/settings.json
O12/.vscode/tasks.json

*.zip
